# 02_03: Dictionaries and Sets

In [1]:
import math
import collections

import numpy as np
import pandas as pd
import matplotlib.pyplot as pp

%matplotlib inline

**Initialisation** <br/>
 - dict is intialsied within {} braces
 - Dict has two elements within those {} , i.e, {Key1:value1,key2:value2}

In [30]:
capitals = {'United States': 'Washington, DC', 'France': 'Paris', 'Italy': 'Rome'}

In [44]:
capitals

-7087331831824355527

In [32]:
capitals['Italy']

'Rome'

In [33]:
capitals['Spain'] = 'Madrid'

In [34]:
capitals

{'United States': 'Washington, DC',
 'France': 'Paris',
 'Italy': 'Rome',
 'Spain': 'Madrid'}

In [35]:
capitals['India']

KeyError: 'India'

In [36]:
'India' in capitals, 'Italy' in capitals

(False, True)

In [37]:
morecapitals = {'Germany': 'Berlin', 'United Kingdom': 'London', 'India':'Delhi'}

In [38]:
capitals + morecapitals #adding 1 dict to another is different from "list"

TypeError: unsupported operand type(s) for +: 'dict' and 'dict'

In [39]:
capitals.update(morecapitals)   #use update() to add new dict

In [40]:
capitals

{'United States': 'Washington, DC',
 'France': 'Paris',
 'Italy': 'Rome',
 'Spain': 'Madrid',
 'Germany': 'Berlin',
 'United Kingdom': 'London',
 'India': 'Delhi'}

In [41]:
del capitals['United Kingdom'] #remove or delete

In [42]:
capitals

{'United States': 'Washington, DC',
 'France': 'Paris',
 'Italy': 'Rome',
 'Spain': 'Madrid',
 'Germany': 'Berlin',
 'India': 'Delhi'}

In [45]:
birthdays = {(7,15): 'Michele', (3,14): 'Albert'}

In [46]:
birthdays[(7,15)]

'Michele'

In [47]:
hash('Italy')

-747644848992646286

In [48]:
hash((7,15))

-2471369287409462312

In [49]:
{}

{}

In [52]:
len({}),type({}), type(()), type([])

(0, dict, tuple, list)

In [53]:
for country in capitals:
    print(country)

United States
France
Italy
Spain
Germany
India

In [54]:
for country in capitals.keys():
    print(country)

United States
France
Italy
Spain
Germany
India

In [61]:
print(capitals.keys())
print(capitals.values())
capitals.items()

dict_keys(['United States', 'France', 'Italy', 'Spain', 'Germany', 'India'])
dict_values(['Washington, DC', 'Paris', 'Rome', 'Madrid', 'Berlin', 'Delhi'])

dict_items([('United States', 'Washington, DC'), ('France', 'Paris'), ('Italy', 'Rome'), ('Spain', 'Madrid'), ('Germany', 'Berlin'), ('India', 'Delhi')])

In [62]:
list(capitals.keys()) #converting dic_keys to list
list(capitals.items())

[('United States', 'Washington, DC'),
 ('France', 'Paris'),
 ('Italy', 'Rome'),
 ('Spain', 'Madrid'),
 ('Germany', 'Berlin'),
 ('India', 'Delhi')]

In [59]:
for capital in capitals.values():
    print(capital)

Washington, DC
Paris
Rome
Madrid
Berlin
Delhi

In [60]:
for country, capital in capitals.items():
    print(country, capital)

United States Washington, DC
France Paris
Italy Rome
Spain Madrid
Germany Berlin
India Delhi

# Sets
### Initialisation of set 

Syntax: Variable_name={item1,item2,....items3}

- Unordered
- Unchangable
- No duplicates

In [70]:
continents = {'America', 'Europe', 'Asia', 'Oceania', 'Africa', 'Africa'}
continents1=set(['America', 'Europe', 'Asia', 'Oceania', 'Africa', 'Africa'])# list to set using set() constructor

In [76]:
print(continents)
print(len(continents))
type(continents)

{'Europe', 'Oceania', 'Africa', 'America', 'Asia', 'Antarctica'}
6

set

In [72]:
'Africa' in continents

True

In [75]:
continents.add('Antarctica')

In [77]:
continents.remove('Antarctica')

In [84]:
for c in continents:
    print(c)

Europe
Oceania
Africa
America
Asia

In [83]:
sorted(continents)

['Africa', 'America', 'Asia', 'Europe', 'Oceania']